.aboutMe-content {
  height: 100%;
  width: 100%;
  background-color: black;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMe-paragraph {
  color: white;
  font-size: 35px;
  text-align: center;
  font-family: "Nobile", sans-serif;
  margin-top: 25%;
  padding-bottom: 25%;
}

/* IPAD */

@media screen and (max-width: 992px) {
  .aboutMe-content {
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutMe-paragraph {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 45%;
    padding-bottom: 40%;
  }
}

/* IPHONE */
@media screen and (max-width: 600px) {
  .aboutMe-content {
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutMe-paragraph {
    height: 100%;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
    margin-top: 40%;
    padding-bottom: 35%;
  }
}
